/* TODO 3: 設定整個頁面的背景顏色 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  newline-height: 1.6;
}

/* TODO 4: 設定 h1 的文字顏色與置中 */
h1 {
    color:blue
}

/* TODO 5: 設定 #message 的字體大小與顏色 */
#message {
    font-size: 20px;
    color: green;
}
